/* .alert{
    color: white;
    
    } */
    
    /* .green{
        background-color:rgba(155, 215, 94, 0.749);
        width: 100%;
      height: 100%;
      z-index: 50;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      box-shadow: 0px 0px 8px #59E19F;
      -moz-box-shadow: 0px 0px 8px #59E19F;
      -webkit-box-shadow: 0px 0px 8px #59E19F;
      color:white
    
    } */
    
    .label{
    color:white
    
    }
    
    .font{
        font-family:cursive
    }
    
    /* .input{
        width:100%;
        background-color:rgba(94, 199, 215, 0.646);
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 0px 0px 8px #59E19F;
        -moz-box-shadow: 0px 0px 8px #59E19F;
        -webkit-box-shadow: 0px 0px 8px #59E19F;
    } */
    
    .size{
        font-size: large;
    }

    .wide{
        width:100%;
        /* background-color:rgba(94, 199, 215, 0.009); */
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 0px 0px 8px #59E19F;
        -moz-box-shadow: 0px 0px 8px #59E19F;
        -webkit-box-shadow: 0px 0px 8px #59E19F;
    }


    #askaway {
        margin-top: 10%;
    }
    
    #blah {
        margin-top: 10%;
    }

    #made {
        margin-top: 10%;
    }

    #createQ {
        margin-top: 10%;
    }

