.item {
    position: relative;
    width: 125px;
    height: 125px;
    margin: 0px;
    display: inline-block;
    z-index: 2;

}

#logobox {
    top: 40%;
    width: 575px;
    height: 575px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
