#selectQuiz {
    width: 150px;
    height: 150px;
    z-index: 10;
    margin-right: 20px;
    margin-top: 20%;
    text-align: center;
    background-color: rgba(23, 132, 115, 0.537);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #F77BD4;
    -moz-box-shadow: 0px 0px 8px #F77BD4;
    -webkit-box-shadow: 0px 0px 8px #F77BD4;
}

#ryan{

    width: 60%;
    margin-left:0;
}